@page
@model Github.Pages.IndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Default index page</h1>
<hr/>
<p>
    Modify this page and add your contents.
</p>

