// variables
$primary: #293592;
$primary-light: lighten($primary,30%);
$head-color: #6c64e9;
$accent-color: #e01c84;
$default-color: #8e8e8e;
$black: #434343;
$white:#fff;

/*$primary: #7db00e;
$primary-light: lighten($primary,30%);
$head-color: #3ca2e0;
$accent-color: #012939;
$default-color: #8e8e8e;
$black: #434343;
$white: #fff;*/

// invoice.scss
html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
    font-size: 11px;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color:$default-color;
    background-color: $primary;
}
h1{
    font-size:3rem;
}
// text coloring
.txt-primary{
    color:$primary;
}
.txt-primary-light {
    color: $primary;
    font-weight:400;
}
.txt-head {
    color: $head-color;
}
.txt-accent {
    color: $accent-color;
}
.txt-black {
    color: $black;
}
.txt-default {
    color: $default-color;
}
#invoice-wrapper{
    background-color:$white;
    height:100%;
    width:100%;
    margin-top:10px;
    padding:20px 30px;
}
header{
    line-height:.8;
    margin-bottom:30px;
}
main {
    h1.title {
        font-weight: bold;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 2px;

        tbody {
            tr:nth-child(odd) {
                background-color: #f3f3f3;
            }
            tr{
                td:first-child{
                    color:$black;
                }
            }
        }

        th {
            color: $primary;
        }

        th, td {
            vertical-align: top;
            padding: .50rem;
        }
    }
}
