@page
@model Github.Pages.Accounts.Change_PasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Pages/Shared/_IdentityLayout.cshtml";
}

<h1>Change password</h1>
<partial name="_BusyIndicator" />

@if (Globals.RandomBool())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>Password mismatch!!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form action="change_password" method="POST">
    <div class="form-group required">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" 
               required autocomplete="off" autocorrect="off" autocapitalize="off" 
               placeholder="password"/>
    </div>
    <div class="form-group required">
        <label for="repeat-password">
            Repeat password
        </label>
        <input type="password" name="repeatPassword" id="repeatPassword" required 
               placeholder="confirm password"/>
    </div>
    <input type="submit" value="Save changes" />

</form>

<section id="new-user-box">
    <p>
        <span>
            <a href="join">Back to profile.</a>
        </span>
    </p>
</section>