@page
@model Github.Pages.Accounts.JoinModel
@{
    ViewBag.Title = "Register Account";
    Layout = "~/Pages/Shared/_IdentityLayout.cshtml";
}
<h1>Create your account</h1>
<partial name="_BusyIndicator" />

@if (Globals.RandomBool())
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <span>Account already exists.</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form action="join" method="POST">
    <div class="form-group required">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required autocomplete="off" autocorrect="off"
               autocapitalize="off"
               placeholder="Choose a username" />
    </div>
    <div class="form-group required">
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" required autocomplete="off" autocorrect="off"
               autocapitalize="off"
               placeholder="Your email address" />
    </div>
    <div class="form-group required">
        <label for="password">
            Password
        </label>
        <input type="password" name="password" id="password" required
               placeholder="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" />
        <div class="password-strength" data-text="Strength meter">
            <span style="width: 1%;"></span>
        </div>
    </div>
    <input type="submit" value="Create account">
</form>
<section id="new-user-box">
    <p>
        <span>Already have an account? </span>
        <span>
            <a href="login">Login.</a>
        </span>
    </p>
</section>