@page
@model Github.Pages.Accounts.LoginModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Pages/Shared/_IdentityLayout.cshtml";
}

<h1>Sign in to @Globals.AppName</h1>
<partial name="_BusyIndicator" />

@if (Globals.RandomBool())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>Incorrect username or password</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form action="login" method="POST">
    <div class="form-group required">
        <label for="username">Username or email address</label>
        <input type="text" name="username" id="username" required autocomplete="off" autocorrect="off" autocapitalize="off" />
    </div>
    <div class="form-group required">
        <label for="password">
            Password
            <span class="pull-right">
                <a href="password_reset">Forgot Password?</a>
            </span>
        </label>
        <input type="password" name="password" id="password" required />
    </div>
    <input type="submit" value="Sign In"/>
    
</form>

<section id="new-user-box">
    <p>
        <span>New to @Globals.AppName? </span>
        <span>
            <a href="join">Create an account.</a>
        </span>
    </p>
</section>