@page
@model Github.Pages.Accounts.Password_ResetModel
@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Pages/Shared/_IdentityLayout.cshtml";
}

<h1>Reset your password</h1>
<partial name="_BusyIndicator" />

@if (Globals.RandomBool())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>Can't find that email, sorry!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form method="POST">
    <div class="form-group">
        <label for="#">
            Enter your email and we will send you a link to reset your password.
        </label>
        <input type="email" name="email" id="email" required autocomplete="off" autocorrect="off"
               autocapitalize="off" placeholder="Enter your email address" />
    </div>
    <div class="">
        <input type="submit" value="Send password reset email">
    </div>
</form>
<section id="new-user-box">
    <p>
        <span>
            <a href="login">Back to login.</a>
        </span>
    </p>
</section>

