@page
@model Github.Pages.Accounts.Phone_VerifiedModel
@{
    ViewBag.Title = "Phone Verification Success";
    Layout = "~/Pages/Shared/_IdentityLayout.cshtml";
}

<h1>@ViewBag.Title</h1>
<partial name="_BusyIndicator" />

@if (Globals.RandomBool())
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span>Successfully completed phone confirmation!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>Code verification failed!</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form action="phone_verification" method="POST">
    <div class="form-group">
        <center>
            <img src="~/img/phone_email.svg" height="50" alt="Phone Email Icon" />
        </center>
    </div>
    <div class="form-group">
        <label for="#" class="text-center">
            Your phone number +2** *** *** 97 has been successfully confirmed!
        </label>
    </div>
    <input type="submit" value="Continue..">
</form>

