@page
@model Github.Pages.Accounts.Phone_ConfirmationModel
@{
    ViewBag.Title = "Phone Confirmation/Verification";
    Layout = "~/Pages/Shared/_IdentityLayout.cshtml";
}

<h1>Phone Confirmation</h1>
<partial name="_BusyIndicator" />
@if (Globals.RandomBool())
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span>Error encountered contacting phone number! Please try again.</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form action="phone_confirmation" method="POST">
    <div class="form-group">
        <center>
            <img src="~/img/phone_email.svg" height="50" alt="Phone Email Icon" />
        </center>
    </div>

    <div class="form-group">
        <label for="#" class="">
            Link your mobile number to improve account protection/security
            &amp; activate 2-Factor Authentication.
        </label>
        <input type="tel" name="phone" id="phone" required autocomplete="off" autocorrect="off"
               autocapitalize="off" placeholder="Phone number" />
    </div>

    <input type="submit" value="Get a code" />

</form>
<section id="new-user-box">
    <p>
        <span>
            <a href="login">Skip this step.</a>
        </span>
    </p>
</section>