/*$primary: #7db00e;
$primary-light: lighten($primary,30%);
$head-color: #3ca2e0;
$accent-color: #012939;
$default-color: #8e8e8e;
$black: #434343;
$white: #fff;*/
html, body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  font-size: 11px;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #8e8e8e;
  background-color: #293592; }

h1 {
  font-size: 3rem; }

.txt-primary {
  color: #293592; }

.txt-primary-light {
  color: #293592;
  font-weight: 400; }

.txt-head {
  color: #6c64e9; }

.txt-accent {
  color: #e01c84; }

.txt-black {
  color: #434343; }

.txt-default {
  color: #8e8e8e; }

#invoice-wrapper {
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin-top: 10px;
  padding: 20px 30px; }

header {
  line-height: .8;
  margin-bottom: 30px; }

main h1.title {
  font-weight: bold; }

main table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 2px; }
  main table tbody tr:nth-child(odd) {
    background-color: #f3f3f3; }
  main table tbody tr td:first-child {
    color: #434343; }
  main table th {
    color: #293592; }
  main table th, main table td {
    vertical-align: top;
    padding: .50rem; }
